{
  "swagger" : "2.0",
  "info" : {
    "version" : "2024-10-04T22:55:58Z",
    "title" : "Events Api Gateway"
  },
  "host" : "gtw-events-api.aws-hosting-strategies.com",
  "schemes" : [ "https" ],
  "paths" : {
    "/events-api/events" : {
      "get" : {
        "operationId" : "GetEvents",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Events"
            },
            "headers" : {
              "X-Api-Version" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "AddEvents",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response",
            "headers" : {
              "X-Api-Version" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/events-api/events/{eventId}" : {
      "get" : {
        "operationId" : "GetEventById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Event"
            },
            "headers" : {
              "X-Api-Version" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "put" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "SubscribeEvent",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SubscribeEvent"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Event"
            },
            "headers" : {
              "X-Api-Version" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "delete" : {
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "204" : {
            "description" : "204 response",
            "headers" : {
              "X-Api-Version" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/token-api/lambda-token" : {
      "post" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response"
          },
          "400" : {
            "description" : "400 response"
          },
          "401" : {
            "description" : "401 response"
          }
        }
      }
    },
    "/token-api/token" : {
      "post" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Content-Type" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/token-api/token-cert" : {
      "post" : {
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Empty" : {
      "type" : "object",
      "title" : "Empty Schema"
    },
    "SubscribeEvent" : {
      "type" : "object",
      "properties" : {
        "timeout" : {
          "type" : "number"
        }
      }
    },
    "Events" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Event"
      }
    },
    "Event" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer"
        },
        "title" : {
          "type" : "string"
        },
        "content" : {
          "type" : "string"
        },
        "speaker" : {
          "type" : "string"
        },
        "date" : {
          "type" : "string"
        },
        "subscribed" : {
          "type" : "boolean"
        }
      }
    }
  }
}